<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>Studio des Arts</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("../styles/fonts.css");
  @import url("../styles/reset.css");

  :root {
    /* custom property flags values */
    --ON: initial;
    --OFF: ;

    /* fonts */
    --font-default: MuseoSlab, sans-serif;
    --font-title: Museo, sans-serif;

    /* colors */
    --color-palette-1: #3031ac;
    --color-palette-1-h: 240deg;
    --color-palette-1-s: 56%;
    --color-palette-1-l: 43%;

    --default-background-color: #111;
    --default-color: #f5f5f5;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: initial;
    }
  }

  :target {
    scroll-margin-block: 6rem;
  }

  body {
    box-sizing: border-box;
    line-height: 1.2;
    font-family: var(--font-default);
    background: var(--default-background-color);
    color: var(--default-color);

    /* font optimization */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  sup {
    font-size: 0.6em;
    vertical-align: super;
  }

  a {
    font: inherit;
    text-decoration: underline;
    color: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-title {
    font-family: var(--font-title);
    font-weight: 700;
  }

  .visually-hidden,
  .sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .unstyled {
    margin: 0;
    border: 0 none;
    width: auto;
    padding: 0;
    overflow: visible;
    font: inherit;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background: transparent;
  }
</style>
